.TodoItem {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 1rem 0.25rem 1rem;
  align-items: center;
  font-family: 'Playpen Sans', cursive;
}

.remove,
.edit {
  background-color: var(--off-white);
  color: var(--happy-blue);
  border-color: var(--happy-blue);
}

.remove:hover {
  color: var(--action-red);
  border-color: var(--action-red);
}

hr {
  background-color: rgba(158, 154, 154, 0.43);
  height: 1px;
  border: none;
}
