.home {
  background-color: var(--relaxed-orange);
  color: whitesmoke;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

body:has(.home) {
  background-color: var(--relaxed-orange);
}

.title {
  font-family: 'Sriracha', cursive;
  font-size: 2.5rem;
  text-align: center;
}

.action {
  text-align: center;
}

.title > span {
  font-size: 3rem;
  vertical-align: sub;
}

.action > button {
  width: 30%;
  margin-right: 1em;
  overflow: hidden;
  font-size: 0.75em;
}

.login,
.register-form {
  border-color: var(--action-green);
  color: var(--action-green);
  font-weight: bold;
}

.login:hover,
.register-form:hover {
  color: whitesmoke;
  background-color: var(--action-green);
  border-color: whitesmoke;
  font-weight: bold;
}

.register,
.cancel {
  border-color: var(--action-blue);
  color: var(--action-blue);
  font-weight: bold;
}

.cancel:hover {
  color: whitesmoke;
  background-color: var(--action-red);
  border-color: whitesmoke;
  font-weight: bold;
}

.register:hover {
  color: whitesmoke;
  background-color: var(--action-blue);
  border-color: whitesmoke;
  font-weight: bold;
}

.login-register {
  background-color: whitesmoke;
  border-color: rgba(119, 115, 115, 0.465);
  color: black;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.inputItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
}

.inputItem > input[type='text' i],
.inputItem > input[type='email' i],
.inputItem > input[type='password' i],
.inputItem > input[type='date' i] {
  width: 70%;
  height: auto;
  font-size: 100%;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.1rem;
  font-family: 'Playpen Sans', cursive;
}

.login-information {
  background-color: whitesmoke;
  color: black;
  font-family: 'Playpen Sans', cursive;
  padding: 0.25em 1em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8rem;
}

.credentials {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.accent {
  font-style: italic;
  background-color: rgba(255, 255, 0, 0.472);
}

/* TABLET FORMATTING */
@media screen and (min-width: 435px) {
  input[type='text' i],
  input[type='date' i] {
    width: 70%;
  }

  .home,
  .login-information {
    width: 20rem;
  }
}
