.home {
  background-color: var(--relaxed-orange);
  color: whitesmoke;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body:has(.home) {
  background-color: var(--relaxed-orange);
}

.title {
  font-family: 'Sriracha', cursive;
  font-size: 2.5rem;
}

.action {
  text-align: center;
}

.title > span {
  font-size: 3rem;
  vertical-align: sub;
}

.action > button {
  width: 30%;
  margin-right: 1em;
  overflow: hidden;
  font-size: 0.75em;
}

.login,
.register-form {
  border-color: var(--action-green);
  color: var(--action-green);
  font-weight: bold;
}

.login:hover,
.register-form:hover {
  color: whitesmoke;
  background-color: var(--action-green);
  border-color: whitesmoke;
  font-weight: bold;
}

.register,
.cancel {
  border-color: var(--action-blue);
  color: var(--action-blue);
  font-weight: bold;
}

.cancel:hover {
  color: whitesmoke;
  background-color: var(--action-red);
  border-color: whitesmoke;
  font-weight: bold;
}

.register:hover {
  color: whitesmoke;
  background-color: var(--action-blue);
  border-color: whitesmoke;
  font-weight: bold;
}

.login-register {
  background-color: whitesmoke;
  border-color: rgba(119, 115, 115, 0.465);
  color: black;
  padding: 1em;

  border-radius: 0.5em;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.inputItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
}

.inputItem > input[type='text' i],
.inputItem > input[type='email' i],
.inputItem > input[type='password' i] {
  width: auto;
  height: auto;
  font-size: 100%;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.1rem;
  font-family: 'Playpen Sans', cursive;
}
