.TodoContainer {
  background-color: var(--off-white);
  border-radius: 1rem;
  max-width: 90%;
  margin: auto;
  padding-top: 0;
  box-shadow: 5px 5px 5px var(--relaxed-gray);
}

ul {
  list-style: none;
  padding: 0 1rem 1rem 1rem;
}

.title {
  color: #2e2e2e;
  background-color: var(--happy-yellow);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.sort {
  background-color: var(--happy-yellow);
  color: #2e2e2e;
  border-style: none;
  vertical-align: middle;
  margin-left: 2rem;
}

.sort:hover {
  color: var(--action-blue);
}

input[type='text' i] {
  width: 50%;
}

/* TABLET FORMATTING*/
@media only screen and (min-width: 435px) {
  .TodoContainer {
    max-width: 27rem;
  }
}
